# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Files larger than 500k
log/HAN/HAN-12-6-save/screenlog.0
preprocessor/recognize/recognized_info.txt
preprocessor/recognize/money2.png
preprocessor/recognize/money.txt
preprocessor/recognize/weight_info.txt
preprocessor/recognize/money_info.txt
preprocessor/recognize/BAC_info.txt
results/test_result.json.1512132960
results/test_result.json.1512370364
results/test_result.json.1512233585
results/test_result.json.1512131703
results/test_result.json.1512235330
results/test_result.json.1512283712
results/test_result.json.1511936172
results/test_result.json.1512364149
results/test_result.json.1512104987
results/test_result.json.1512130746
results/test_result.json.1512282157
results/test_result.json.1512277586
results/test_result.json.1512479423
results/test_result.json.1512481826
results/test_result.json.1512483997
results/test_result.json.1512565304
results/test_result.json.1512568384
results/tmp_result.1512658787
results/last_top_result.json
results/test_result.json.1512747214
results/merge_result.1512747400
results/test_result.json.1512823673
results/merge_result.1512824694
results/test_result.json.1512849388
results/test_result.json.1512851892
results/merge_real_result.1512897341
results/test_result_task2.json.1512901212
results/merge_result.1512912153
results/test_result_task2.json.1512974394
results/test_result.json.1512925074
results/test_result.json.1512985536
pickles/word2index.sample.pkl
pickles/extract_laws_test.pkl
pickles/params.pkl.1511875953.TextRCNN
pickles/params.pkl.1512077445.multi.TextRCNN
pickles/word2index.pkl
pickles/params.pkl.1511790184.TextRCNN
pickles/extract_laws.pkl
pickles/index2word.sample.pkl
pickles/index2word.pkl
pickles/params.pkl.1512433151.TextRCNN
pickles/index2word.all.pkl
pickles/word2index.all.pkl
pickles/index2word.dy.pkl
pickles/word2index.dy.pkl
pickles/index2word.dy.all.pkl
pickles/word2index.dy.all.pkl
pickles/params.pkl.1512744538.HAN
pickles/params.pkl.1512843204.multi.HAN
pickles/params.pkl.0.518533712408648.TextRCNN
pickles/params.pkl.0.8093258721807136.multi.TextRCNN
pickles/params.pkl.1512991782.HAN
pickles/params.pkl.1513016556.multi.HAN
corpus/seg_train.txt
corpus/seg_test.txt
corpus/sample_seg_train.txt
corpus/sample_seg_test.txt
corpus/all_seg_train.txt
corpus/seg_corpus/train_B.txt
corpus/seg_corpus/test_B.txt
corpus/seg_corpus/train_A.txt
corpus/seg_corpus/test_A.txt
corpus/seg_corpus/AJData.txt
corpus/seg_corpus/train_all.txt
word2vec/pretrain_emb.AJandAll.256d.npy
word2vec/pretrain_emb.sample.128d.npy
word2vec/pretrain_emb.256d.npy
word2vec/pretrain_emb.128d.npy
word2vec/pretrain_emb.AJandTest.256d.npy
word2vec/pretrain_emb.alltrain.256d.npy
word2vec/word2vec.256d.model
word2vec/word2vec.256d.model.syn1neg.npy
word2vec/word2vec.256d.model.wv.syn0.npy
word2vec/pretrain_emb.256d.dy.npy
word2vec/pretrain_emb.256d.dy.all.npy
